<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Online Consult Notification</title>
    <style>
        *{padding: 0; margin:0;}
        p{
            font-family: arial;
            font-size: 20px;
            line-height: 30px;
            color: #ffffff;
        }
        a{color:#585856; font-size: 12px; line-height: 16px; font-family: arial; text-decoration: none;}
        img{
            display: block;
        }
    </style>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td align="center" valign="top">
            <table width="800" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td align="center" valign="top" style="border: solid 1px #ddd;">
                        <table width="800" border="0" cellspacing="0" cellpadding="0">
                            <tbody>

                            <tr>
                                <td align="left" valign="top"><img src="{{basePath}}/provider_consumer/header.png" width="800" height="97" alt=""/></td>
                            </tr>
                            <tr>
                                <td align="left" valign="top"><a href="{{ link }}" target="_blank"><img src="{{basePath}}/provider_consumer/banner.png" width="800" height="488" alt=""/></a></td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" bgcolor="#2b3682"><table width="680" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td align="left" valign="top"><p>&nbsp;</p>
                                                <p>Dear {{ patient_name }},</p>
                                                <p>&nbsp;</p>
                                                <p>You no longer have to step outside for your consultations.<br>
                                                    Consult {{ doctor_name }} online, from the comfort of your home!<br>
                                                    #StayHome #StaySafe </p>
                                                <p>&nbsp;</p></td>
                                        </tr>
                                        </tbody>
                                    </table></td>
                            </tr>
                            <tr>
                                <td align="left" valign="top"><img src="{{basePath}}/provider_consumer/banner1.png" width="800" height="448" alt="Benefits of online consultations: Practo has seen a 200% increase in patients seeking
online consultations week on week, Continuity of care through online consultations
, Chat, voice call or video call basis your availability
, Complete data privacy and confidentiality"/></td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" bgcolor="#fcfbf9"><table width="378" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td align="left" valign="top"><a href="{{ link }}" target="_blank"><img src="{{basePath}}/provider_consumer/cta.png" width="378" height="58" alt=""/></a></td>
                                        </tr>
                                        </tbody>
                                    </table></td>
                            </tr>

                            <tr>
                                <td height="58" align="left" valign="top"><img src="{{basePath}}/provider_consumer/footer-top.png" width="800" height="227" alt="20,000+
doctors offering
online consultations | 730K+
Annual Online
Consultations | 4.7
Highest rated online
consultation product"/></td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" bgcolor="#d9d9d9" ><table width="800" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td width="29" align="left" valign="top">&nbsp;</td>
                                            <td width="492" align="left" valign="middle"><p style="color:#585856; font-size: 12px; line-height: 16px;">Copyright 2020, Practo.  All Rights Reserved.<br>
                                                    Call:<a href="tel:+918880588999"> +91 8880 588 999</a> |   Email: <a href="mailto:support@practo.com">support@practo.com</a><br>
                                                    <a href="#" target="_blank">Unsubscribe</a> |   <a href="#" target="_blank">Privacy Policy</a></p></td>
                                            <td width="54" align="left" valign="top"><a href="https://www.facebook.com/practo/" target="_blank"><img src="{{basePath}}/provider_consumer/facebook.png" width="54" height="81" alt="facebook"/></a></td>
                                            <td width="52" align="left" valign="top"><a href="https://twitter.com/Practo" target="_blank"><img src="{{basePath}}/provider_consumer/twitter.png" width="52" height="81" alt="twitter"/></a></td>
                                            <td width="49" align="left" valign="top"><a href="https://www.instagram.com/practo/" target="_blank"><img src="{{basePath}}/provider_consumer/instagram.png" width="49" height="81" alt="instagram"/></a></td>
                                            <td width="47" align="left" valign="top"><a href="https://www.linkedin.com/company/practo-technologies-pvt-ltd" target="_blank"><img src="{{basePath}}/provider_consumer/linkdine.png" width="47" height="81" alt="linkdine"/></a></td>
                                            <td width="77" align="left" valign="top"><a href="https://www.youtube.com/user/PractoSupport" target="_blank"><img src="{{basePath}}/provider_consumer/youtube.png" width="74" height="81" alt="youtube"/></a></td>
                                        </tr>
                                        </tbody>
                                    </table></td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
