{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="">{{ details.name }}
                            {% if details.status==0 %}
                            <a class="btn btn-success" href="/todos/{{ details.id }}/update" class="card-link">mark as done</a>
                            {% endif %}
                        </h1>
                        <h6>category : {{ details.category }} </h6><br>
                        <p class="">
                            {{ details.description }}
                        </p>
                        <h3>Due Date : {{ details.dueDate.format("d-m-y") }}</h3>
                        <h6>created at : {{ details.createdAt.format("d-m-y") }}</h6>
                        {% if details.status==0 %}
                            <a class="btn btn-primary" href="/todos/{{ details.id }}/edit" class="card-link">Edit</a>
                        {% else %}
                            <strong style="background-color: limegreen;">COMPLETED!</strong>
                        {% endif %}
                        <a class="btn btn-danger" href="/todos/{{ details.id }}/delete" class="card-link">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}